<%- include('layouts/header.ejs') %>
    <script>
        const userInfo = <%- JSON.stringify(profileInfo) %>
    </script>
    <main>
        <div class="text-center mt-3 fw-bold fs-4 font-monospace"><%= profileInfo.username %>'s Profile</div>
        <div class="text-center fst-italic font-monospace">#<%= profileInfo.id %></div>
        <div class="text-center">Playing since <%= (new Intl.DateTimeFormat('en-US', {'dateStyle':'long'})).format(profileInfo.created_at) %></div>
        <hr>
        <div class="container-xxl my-4">
            <div class="row">
                <div class="font-monospace fs-5">Quizzes created</div>
            </div>
            <div class="row row-cols-auto" id="user-quizzes-row">
            </div>
            <div class="text-center fs-2">
                <i class="bi bi-plus-circle add-btn" id="loadUserQuizzesBtn" onclick="loadUserQuizzes()"></i>
            </div>
        </div>
        <hr>
        <div class="container-xxl my-4">
            <div class="row">
                <div class="font-monospace fs-5">Played recently</div>
            </div>
            <div class="row row-cols-auto" id="user-history-row">
            </div>
            <div class="text-center fs-2">
                <i class="bi bi-plus-circle add-btn" id="loadUserHistoryBtn" onclick="loadUserHistory()"></i>
            </div>
        </div>
    </main>
    <script src="/js/quizElement.js"></script>
    <script src="/js/profile.js"></script>
<%- include('layouts/footer.ejs') %>